<%- include("partials/head") %>
    <title>About US</title>
    </head>
    <body onload="initAboutUs()">
        <%- include("partials/navbar") %>
        <%- include("partials/about") %>
        <%- include("partials/team") %>
        <%- include("partials/footer") %>
    </body>

    </html>