<%- include("partials/head") %>
<body onload="initAbout()"></body>
    <%- include("partials/navbar") %>
        <%- include("partials/about")  %> 
        <%- include("partials/team")  %>  
        <%- include("partials/footer") %>

            </body>
            </html>