<%- include('partials/head') %>
<title>Flip your Text</title>
<link rel="stylesheet" href="/css/flip.css">
</head>
<body onload="initFlip()">
    <%- include('partials/navbar') %>
            <section class="flip" id="blackimg">
            <div class="left-side">
                <h1>Welcome,</h1>
                <form method="POST" id="form-flip">
                    <div class="text-box left">
                        <textarea class="text-area" id="newArticle" type="text" name="article"
                            placeholder="Input your text here"><%if(response){%><%=firstArticle%><%}%></textarea>
                    </div>
                    <div class="btn-container">
                        <button id="flipbut" type="submit" name="reverse" formaction="/articles">Flip to Opposite</button>
                        <button id="neutralbut" type="submit" name="neutral" formaction="/neutralarticle">Flip to Gender Neutral</button>
                    </div>
                </form>
            </div>
            <div class="right-side">
                <h1>Your new <span id="flipWord">script, </span></h1>
                <div class="text-box right">
                    <p id="response-box" onclick="copyToClipboard()"></p>
                    <div class="response-footer">
                        <p>Converted words: <% if(response) {%><%= flippedArray.length %><% } %></p><span id="copied-element" class="">Click on text to copy!</span>
                    </div>
                </div>
            </div>
            <% if(response) {%>
                <!-- !!! VERY IMPORTANT This two divs down here, can't have any space or "enter space" inside of each of them, otherwise the program wont work -->
                <div id="response-text" style="display:none;"><%=response%></div>
                <div id="flipped-words" style="display:none;"><%=flippedArray%></div>
                <% } %>
        </section>
        </body>

        </html>