<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <link rel="stylesheet" href="/css/flip.css">
        <section class="flip">
            <div class="left-side">
                <h1>Welcome,</h1>
                <form method="POST" id="form-flip">

                    <div class="text-box left">
                        <textarea class="text-area" id="newArticle" type="text" rows="5.5" cols="60" name="article"
                            placeholder="Input your text here"><%if(response){%><%=firstArticle%><%}%></textarea>
                    </div>
                    <div class="btn-container">
                        <button type="submit" name="reverse" onsubmit="convertToArray()" formaction="/articles">Flip to
                            Opposite</button>
                        <button type="submit" name="neutral" onsubmit="convertToArray()" formaction="/neutralarticle">Flip to Gender Neutral</button>
                    </div>
                </form>
            </div>
            <div class="right-side">
                <h1>Your new script,</h1>
                <div class="text-box right">
                    <p id="response-box"></p>
                </div>
            </div>
            <% if(response) {%>
            <div id="response-text" style="display:none;"><%=response%></div>
            <div id="flipped-words" style="display:none;"><%=flippedArray%></div>
            <% } %>
        </section>
        </body>