<%- include('partials/head') %>
<title>Flip your Text</title>
<link rel="stylesheet" href="/css/flip.css">
</head>
<body onload="initFlip()">
    <%- include('partials/navbar') %>
        <section class="flip">
            <div class="left-side">
                <h1>Welcome,</h1>
                <form method="POST" id="form-flip">
                    <div class="text-box left">
                        <textarea class="text-area" id="newArticle" type="text" name="article"
                            placeholder="Input your text here"><%if(response){%><%=firstArticle%><%}%></textarea>
                    </div>
                    <!-- <div class="btn-container">
                        <button name="reverse" onclick="toggleConverter('reverse')">Flip to Opposite</button>
                        <button name="neutral" onclick="toggleConverter('neutral')">Flip to Gender Neutral</button>
                    </div> -->
                    <div class="btn-container">
                        <button type="submit" name="reverse" formaction="/articles">Flip to Opposite</button>
                        <button type="submit" name="neutral" formaction="/neutralarticle">Flip to Gender Neutral</button>
                    </div>
                </form>
            </div>
            <div class="right-side">
                <h1>Your new script,</h1>
                <div class="text-box right">
                    <p id="response-box"></p>
                </div>
            </div>
            <% if(response) {%>
                <!-- !!! VERY IMPORTANT This two divs down here, can't have any space or "enter space" inside of each of them, otherwise the program wont work -->
                <div id="response-text" style="display:none;"><%=response%></div>
                <div id="flipped-words" style="display:none;"><%=flippedArray%></div>
                <% } %>
        </section>
        </body>

        </html>