<%- include('partials/head') %>
<%- include('partials/navbar') %>

<link rel="stylesheet" href="/css/flip.css">
    <section class="flip">
        <div class="left-side">
            <h1>Welcome,</h1>
            <form method="POST">
                
                <div class="text-box left">
                    <textarea class="text-area" id="newArticle" type="text" rows="5.5" cols="60" name="article"
                    placeholder="Input your text here"></textarea>
                </div>
                <div class="btn-container">
                    <button type="submit" name="reverse" formaction="/articles">Flip to Opposite</button>
                    <button type="submit" name="neutral" formaction="/neutralarticle">Flip to Gender Neutral</button>
                </div>
            </form>
        </div>
        <div class="right-side">
            <% if(response) { %>
                <h1>Your new script,</h1>
                <div class="text-box right">
                    <%= response %>
                </div>
                <h3> Flipped words: </h3>
                    <p><%= flippedArray  %> </p>
                    
                    <%= articles = [] %>
            <% } %>
        </div>

    </section>
</body>