<%- include('partials/head') %>
    <title>Flip The Script</title>
</head>
<body onload="initHome()">

    <%- include('partials/navbar') %>

    <%- include('partials/intro') %>

    <%- include('partials/why') %>

    <%- include('partials/statistics') %>

    <%- include('partials/about') %>

    <%- include('partials/team') %>

    <%- include('partials/footer') %>

</body>
</html>